.HomeView__wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/LXUFok.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-align: center;
}
